# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Java / Maven
backend/target/
*.class
*.jar
*.war

# Uploaded files (local dev)
uploads/
